.panel {
  width: 80%;
  padding: 1%;
  margin: 2% auto;
  background-color: var(--transparency-dark);
  border: 2px solid var(--primary-color);
  border-radius: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "image list list"
    "image list list "
    "image_list image_list image_list ";
}

.panel .image {
  grid-area: image;
  object-fit: cover;
  object-position: 80% 5%;
  border-radius: 5%;
  height: 200px;
  width: 150px;
  order: -1;
  margin: auto 5%;
}

.panel .list {
  grid-area: list;
  width: 100%;
  opacity: 1;
  color: white;
}

.panel .image-list {
  grid-area: image_list;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
}

.image-list > * {
  margin: 0.5%;
}

.image-list .list {
  border: 2px solid white;
  padding: 1.5%;
  border-radius: 2%;
  background-color: var(--transparency-light);
  color: black;
}

.list ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.list ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  margin: 0 1rem;
}

.list ul li > * {
  margin: 0.4rem;
}
