.card {
  background-color: var(--transparency-dark);
  border: 1px solid var(--secondary-color);
  border-radius: 3%;
  width: 7rem;
  padding: 15%;
  display: block;
}

.card-image {
  height: 100%;
  margin-top: 0.5rem;
  width: 100%;
}
