.home {
  color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-list a {
  margin: 1rem 2rem;
  text-decoration: none;
  color: #13d3ed;
}

.home-list a:visited {
  color: #0b94a7;
}
