.topTitle {
  width: 50%;
  height: 50%;
  transform: perspective(200px) rotateX(40deg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1rem;
}

nav ul li a {
  text-decoration: none;
}

header a {
  color: var(--primary-color);
}

header a:visited {
  color: var(--primary-color-dark);
}
