.topTitle {
  width: 60%;
  height: 60%;
  transform: perspective(200px) rotateX(40deg);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  background-color: var(--transparency-dark);
}

.hide-nav {
  display: none;
}

.show-nav {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem;
}

nav ul li a {
  text-decoration: none;
}

header a {
  color: var(--primary-color);
}

header a:visited {
  color: var(--primary-color-dark);
}

button {
  order: 3;
  font-size: 30px;
  margin-right: 30px;
  color: var(--secondary-color);
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  button {
    display: none;
  }

  .hide-nav,
  .show-nav {
    display: flex;
    flex-direction: row;
  }
}
